.itinerary-type
  +rhythm(0,1,1,0)
  +nowrap
  text-align: center
  overflow-x: scroll
  -webkit-overflow-scrolling: touch

  .type-item
    +inline-block()
    +unstyled-link
    padding: rhythm(1.5)
    text-align: center

    .name
      +leader(.5)
      +adjust-font-size-to(18px)