.itinerary-type
  +rhythm(1,0,0,1)
  text-align: center

  .type-item
    +inline-block()
    +unstyled-link
    padding: rhythm(1.5)
    text-align: center

    .name
      +leader(.5)
      +adjust-font-size-to(18px)