.itinerary-type
  margin: 0 auto
  padding: rhythm(.5)
  +nowrap
  text-align: center
  overflow: auto
  -webkit-overflow-scrolling: touch

  .type-item
    +inline-block()
    padding: rhythm(.75)
    text-align: center
    text-decoration: none
    color: $color-black

    &:hover
      background-color: $color-black-a05

    &.active
      background-color: $color-black-a10

    .icon
      width: 48px
      height: 48px
      opacity: .7

    .name
      +adjust-font-size-to(13px)

  +at-breakpoint($pad)

    .type-item
      padding: rhythm(1) rhythm(1.5)

      .icon
        width: 64px
        height: 64px
        opacity: .7

      .name
        +adjust-font-size-to(15px)
        +leader(.5)

$travel-filter-bg: #F6F7F8
.travel-filter
  position: relative
  +rhythm(0,.25,.25,0)
  background-color: $travel-filter-bg

  .extra-btn
    position: absolute
    bottom: 0
    left: 50%

  #travel-extra-option
    max-width: 1088px
    margin: 0 auto
    padding: 0 rhythm(.5)

    .travel-time, .travel-location
      position: relative
      +rhythm(0,.25,.25,0)
      border-top: 1px solid $color-black-a10

      .label
        position: absolute
        top: 0
        left: 0
        z-index: 10
        +rhythm(0,.25,.25,0)
        padding-right: 12px
        font-weight: bold
        background-color: $travel-filter-bg

      .option-set
        display: block
        padding-left: 48px
        +nowrap
        overflow: auto
        -webkit-overflow-scrolling: touch

      .option
        +inline-block()
        padding: 0 9px
        cursor: pointer

        &:hover
          background-color: $color-black-a05

        &.active
          background-color: $color-black-a10

.find-travel
  max-width: 1088px
  margin: 0 auto
  padding: 0 rhythm(.25) 3px
  text-align: right

  .extra-option-btn
    position: relative
    padding: 3px 48px 3px 24px
    text-decoration: none
    color: $color-black
    background-color: $travel-filter-bg
    +transition(background-color .25s)

    &:after
      content: ""
      position: absolute
      top: 50%
      right: 24px
      margin-top: -3px
      border: 6px solid transparent
      border-top-color: $color-black

    &:hover
      background-color: darken($travel-filter-bg, 5%)

    &.active
      &:after
        margin-top: -9px
        +rotate(180deg)

  +at-breakpoint($pad)
    padding: 0 rhythm(.5)

    .type-item
      padding: rhythm()