.function-bar
  +pie-clearfix
  padding: 16px 12px 0
  +adjust-font-size-to(13px, .5)

  .language
    float: left

  .member
    float: right

  .member-name
    +inline-block()
    padding: 0 6px
    color: $color-black-a50

  a
    +inline-block()
    padding: 0 6px
    color: $color-black-a50
    text-decoration: none

    &:hover
      color: $color-black-a75
      text-decoration: underline

  ul
    +pie-clearfix
    +reset-box-model
    list-style: none

    li
      float: left

    li + li
      border-left: 1px solid $color-black-a50


.header
  @extend %container
  text-align: center

  .logo
    a
      +inline-block()
      +rhythm(1,0,0,1)
      +adjust-font-size-to(32px)
      text-decoration: none
      color: $color-black

      .ch
        font-weight: bold

      .en
        display: block
        +adjust-font-size-to(16px, .75)

  .menu-btn
    display: block
    position: relative
    z-index: 10
    +padding-trailer(.25)
    +link-colors($color-black, $color-black-light)
    text-decoration: none

  .nav
    +pie-clearfix
    margin: 0 -24px
    padding: 0
    list-style: none

    li
      a
        +link-colors($color-black, $color-black-light)
        display: block
        +padding-leader(.5)
        +padding-trailer(.5)
        text-decoration: none
        border-top: 1px solid $color-gray-light


  +at-breakpoint($pad)
    .menu-btn
      display: none

    .nav
      +pie-clearfix
      margin: 0

      &.collapse
        display: block
        height: auto !important

      li
        +box-sizing(border-box)
        float: left
        width: 20%

        a
          border: none
