.travel-item
  +pie-clearfix
  display: block
  position: relative
  margin: 6px
  text-decoration: none

  &:hover
    text-decoration: none

    .travel-info-wrap
      .info-mask
        background-color: rgba(255,255,255,.2)

  .travel-photo
    img
      display: block


  .travel-info-wrap
    position: relative
    overflow: hidden

  .info-background
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-position: center center

  .info-mask
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(255,255,255,.1)
    background-image: url("/images/travel-bg-noise.png")
    background-repeat: repeat
    +transition(background-color .25s)

  .travel-info
    position: relative
    z-index: 10
    padding: 36px 24px
    text-align: center
    color: white

  .title
    +adjust-font-size-to(18px, 1)

  .date
    +adjust-font-size-to(13px)

  .type
    position: relative

    img
      display: block
      width: 48px
      height: 48px
      margin: rhythm(.5) auto

    &:before, &:after
      content: ""
      position: absolute
      top: 49%
      width: 42%
      width: calc(50% - 24px)
      height: 1px
      background-color: rgba(255,255,255,.25)

    &:before
      left: 0

    &:after
      right: 0

  .description
    +adjust-font-size-to(13px, .75)

  .btn.enter
    +inline-block()
    padding: 12px 84px
    font-weight: bold


  +at-breakpoint($pad)
    margin: 0

    .travel-info
      padding: 48px 72px

    .title
      +adjust-font-size-to(24px, 1.5)

    .date
      +adjust-font-size-to(13px)

    .description
      +adjust-font-size-to(15px)


  +at-breakpoint($desktop)
    .travel-photo
      float: left
      width: 60%

    .travel-info-wrap
      overflow: hidden
      position: absolute
      top: 0
      right: 0
      bottom: 0
      width: 40%

    .travel-info
      position: absolute
      top: 50%
      padding: 0 48px
      +translateY(-50%)

.badge
  position: absolute
  z-index: 20
  top: 0
  right: 0
  cursor: pointer

  &.follow
    +replace-text-with-svg("follow")

  &.follow.active
    +replace-text-with-svg("follow-active")