.travel-item
  +pie-clearfix
  display: block
  position: relative
  margin: 6px
  text-decoration: none
  outline: none

  &:hover
    text-decoration: none

    .travel-info-wrap
      .info-mask
        background-color: rgba(255,255,255,.2)

  .travel-photo
    position: relative
    overflow: hidden
    padding-top: 66.5%

    img
      position: absolute
      top: 0
      display: block
      width: 100%


  .travel-info-wrap
    position: relative
    overflow: hidden
    margin-top: -3px

  .info-background
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-position: center center
    background-repeat: no-repeat
    +background-size(cover)

  .info-mask
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(255,255,255,.1)
    background-image: url("/images/travel-bg-noise.png")
    background-repeat: repeat
    +transition(background-color .25s)

  .travel-info
    position: relative
    z-index: 10
    padding: 30px 1em
    text-align: center
    color: white

  .title
    +adjust-font-size-to(18px, 1)

  .date
    +adjust-font-size-to(13px)

  .type
    position: relative

    img
      display: block
      width: 48px
      height: 48px
      margin: 0 auto

    &:before, &:after
      content: ""
      position: absolute
      top: 49%
      width: 42%
      width: calc(50% - 24px)
      height: 1px
      background-color: rgba(255,255,255,.25)

    &:before
      left: 0

    &:after
      right: 0

  .description
    +trailer(.5)
    +adjust-font-size-to(13px, .75)

  .message
    margin: 24px
    font-weight: bold

    a
      color: #8EE3FF

  .btn.enter
    +inline-block()
    padding: 12px 84px
    font-weight: bold


  +at-breakpoint($pad)
    margin: 0

    .travel-info
      padding: 48px 72px

    .title
      +adjust-font-size-to(24px, 1.5)

    .type img
      margin: rhythm(.5) auto

    .date
      +adjust-font-size-to(13px)

    .description
      +trailer()
      +adjust-font-size-to(15px)


  +at-breakpoint($desktop)
    .travel-photo
      float: left
      width: 60%
      padding-top: 39.5%

    .travel-info-wrap
      overflow: hidden
      position: absolute
      margin-top: 0
      top: 0
      right: 0
      bottom: 0
      width: 40.5%

    .travel-info
      +box-sizing(border-box)
      position: absolute
      top: 50%
      width: 100%
      padding: 0 48px
      +translateY(-50%)

.badge
  position: absolute
  z-index: 20
  top: 0
  right: 0
  width: 100px
  height: 36px
  cursor: pointer

  .msg
    display: none

  &:hover
    .msg
      position: absolute
      left: -96px
      right: 40px

      span
        display: inline-block
        position: absolute
        top: 3px
        right: 0
        z-index: 25
        padding: 3px 6px
        +adjust-font-size-to(13px)
        color: $color-black
        background-color: $color-white-a75
        +border-radius(3px)

        &:after
          content: ""
          position: absolute
          top: 50%
          right: -12px
          margin-top: -6px
          border: 6px solid transparent
          border-left-color: $color-white-a75

  &.follow
    background: url("/images/follow-mobile.svg") center no-repeat

  &.follow.active
    background: url("/images/follow-mobile-active.svg") center no-repeat

  +at-breakpoint($desktop)
    width: 56px
    height: 56px

    &:hover
      .msg
        display: block

    &.follow
      background: url("/images/follow.svg") center no-repeat

    &.follow.active
      background: url("/images/follow-active.svg") center no-repeat
