.page-header
  background-position: center

  .page-header-inner
    @extend %container
    +rhythm(0,3,3,0)
    text-align: center

  .page-title
    color: white

    .ch
      display: block
      +adjust-font-size-to(36px)

    .en
      position: relative
      display: block
      +adjust-font-size-to(16px)

      &:before, &:after
        content: " — "
        opacity: .5
