// ---- Base Color ----
// gray
$color-black        : #333333
$color-black-light  : lighten($color-black, 15%)
$color-gray         : #999999
$color-gray-light   : lighten($color-gray, 35%)

// alpha color
$color-black-a05    : rgba(0,0,0,.05)
$color-black-a10    : rgba(0,0,0,.10)
$color-black-a35    : rgba(0,0,0,.35)
$color-black-a50    : rgba(0,0,0,.50)
$color-black-a75    : rgba(0,0,0,.75)
$color-white-a05    : rgba(255,255,255,.05)
$color-white-a10    : rgba(255,255,255,.10)
$color-white-a35    : rgba(255,255,255,.35)
$color-white-a50    : rgba(255,255,255,.50)
$color-white-a75    : rgba(255,255,255,.75)


// blue
$color-blue         : #81C5EB
$color-blue-light   : lighten($color-blue, 5%)
$color-blue-dark    : #2C6382

// ---- box model
$global-radius-width: 3px
