// ---- Base Color ----
// gray
$color-black        : #333333
$color-black-light  : lighten($color-black, 15%)
$color-gray         : #999999
$color-gray-light   : lighten($color-gray, 30%)

// black with opacity
$color-black-a25    : rgba(0,0,0,.25)
$color-black-a50    : rgba(0,0,0,.50)
$color-black-a75    : rgba(0,0,0,.75)


// blue
$color-blue         : #81C5EB
$color-blue-light   : lighten($color-blue, 5%)
$color-blue-dark    : #2C6382

// ---- box model
$global-radius-width: 3px
