.mytravel
  .travel-list-item
    .badge
      right: 6px

  .update-log
    +pie-clearfix
    margin: -6px 6px 6px
    text-align: center
    +adjust-font-size-to(13px, 1.5)
    font-weight: bold
    color: white
    background-color: #565151

    .title
      background-color: $color-black-a10

    .date
      display: inline-block
      color: $color-white-a35

    .info
      display: inline-block
      +adjust-font-size-to(15px, 1.5)

  .empty-item
    position: relative
    margin: 0 6px 48px
    padding: 72px 48px
    text-align: center
    +adjust-font-size-to(21px)
    color: $color-black-a50
    background-color: white
    border: 1px solid $color-black-a10

    .empty-follow-icon, .empty-favorite-icon
      width: 64px
      height: 64px
      margin: 12px auto

    .empty-follow-icon
      background: url("/images/empty-icon-follow.svg") no-repeat

    .empty-favorite-icon
      background: url("/images/empty-icon-favorite.svg") no-repeat

  +at-breakpoint($pad)
    .travel-list-item
      .badge
        top: 6px

    .update-log
      text-align: center
      padding: 3px 12px
      +ellipsis

    .update-log
      margin: 0

    .empty-item
      margin: 0 6px 24px