.travel-list
  max-width: 1088px
  margin: rhythm(.25) auto
  +pie-clearfix

  .travel-list-inner
    margin: 0 6px

  .travel-list-item
    .travel-item
      margin: 6px 0

      .travel-info-wrap
        .travel-info
          padding: 24px

          .title
            +trailer(.25)
            +adjust-font-size-to(18px)

  +at-breakpoint($pad)
    .travel-list-item
      +box-sizing(border-box)
      float: left
      width: 50%
      padding: 6px

      .travel-item
        margin: 0

  +at-breakpoint($desktop)
    .travel-list-inner
      margin: 0 -6px