.travel-intro
  .travel-intro-header
    .travel-item
      margin: 0

      &:hover
        .travel-info-wrap
          .info-mask
            background-color: rgba(255,255,255,.1)

      .sns-share
        +leader()

        .mail
          +replace-text-with-svg("icon/sns-mail-white")

        .facebook
          +replace-text-with-svg("icon/sns-fb-white")

        .googleplus
          +replace-text-with-svg("icon/sns-gplus-white")

        .mail, .facebook, .googleplus
          +inline-block()
          margin: 0 12px
          opacity: .75
          +transition(opacity .25s)

          &:hover
            opacity: 1

      &.record
        .travel-info-wrap
          .info-mask
            background-color: rgba(255,255,255,.5)

        &:hover
          .travel-info-wrap
            .info-mask
              background-color: rgba(255,255,255,.5)

        .travel-info-wrap
          .travel-info
            color: black

            .type
              &:before, &:after
                background-color: rgba(0,0,0,.25)

            .btn.enter
              color: $color-black-a50
              background-color: rgba(255,255,255,.75) !important

  .travel-summary

  .block-title
    +trailer(2)
    overflow: hidden
    position: relative
    text-align: center
    font-weight: bold

    &:before, &:after
      content: ""
      position: absolute
      top: 50%
      width: 50%
      height: 1px
      background-color: $color-black-a35

    &:before
      left: -56px

    &:after
      right: -56px

  .travel-record-photo, .travel-highlight, .travel-related-item, .travel-related-link
    @extend %container
    +rhythm(2,0,0,2)
    max-width: 960px

  .travel-related-item

  .related-item-list
    +pie-clearfix

  .related-item-wrap
    .travel-item
      margin: 16px 0

      .travel-info-wrap
        .travel-info
          padding: 24px

          .title
            +trailer(.25)
            +adjust-font-size-to(18px)

    .link-item
      display: block
      +trailer(.5)
      text-decoration: none

      .link-title
        +trailer(.25)
        +adjust-font-size-to(18px)
        font-weight: bold

      .link-description
        overflow: hidden
        height: 48px
        +adjust-font-size-to(15px)
        color: $color-black

  .travel-record-photo
    .record-photo-list
      margin: 0 -6px

    .record-photo-wrap
      @include box-sizing(border-box)
      display: block
      float: left
      width: 50%
      padding: 6px

    .record-photo
      display: block
      position: relative
      overflow: hidden
      padding-bottom: 80%

      img
        max-width: 150%
        position: absolute
        top: 0
        left: 50%
        +translateX(-50%)

  .travel-highlight
    .highlight-item
      +pie-clearfix
      +trailer(2)

      &:last-child
        +trailer(0)

      .highlight-photo
        +trailer()

      .highlight-description
        +adjust-font-size-to(16px)


  +at-breakpoint($pad)
    .travel-record-photo, .travel-highlight, .travel-related-item, .travel-related-link
      +rhythm(4,0,0,4)

    .travel-record-photo
      .record-photo-wrap
        width: 33.333%


    .travel-highlight
      .highlight-item
        .highlight-description
          +adjust-font-size-to(18px, 1.2)

    .related-item-list
      margin: 0 -12px

    .related-item-wrap
      +box-sizing(border-box)
      float: left
      width: 50%
      padding: 12px

      .travel-item
        margin: 0


  +at-breakpoint($desktop)
    .travel-record-photo
      .record-photo-wrap
        width: 25%

    .travel-highlight
      .highlight-item
        .highlight-photo
          float: left
          width: 30%

        .highlight-description
          +box-sizing(border-box)
          overflow: hidden
          width: 70%
          padding-left: rhythm()