.travel-list
  max-width: 1088px
  margin: rhythm() auto

  .travel-list-inner
    +pie-clearfix

    .travel-list-item
      position: relative
      .type
        img
          width: 32px
          height: 32px

      .travel-item .message
        margin: 0


  +at-breakpoint($pad)
    .travel-list-item
      +box-sizing(border-box)
      float: left
      width: 50%
      padding: 6px

      &:nth-child(2n+1)
        clear: left

      .travel-info-wrap
        min-height: 180px
        position: relative

      .travel-info
        +box-sizing(border-box)
        position: absolute
        top: 50%
        width: 100%
        padding: 48px 72px
        +translateY(-50%)

      .travel-item
        margin: 0

  +at-breakpoint($desktop)
    .travel-list-item
      .travel-info-wrap
        position: absolute

    .travel-list-inner
      margin: 0 -6px

.travel-list-item
  .travel-info-wrap
    .travel-info
      padding: 24px

      .title
        +trailer(.25)
        +adjust-font-size-to(16px)